# Common auxiliary files of LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.loc
*.out
*.run.xml
*.soc
*.toc
*.xdv
*.synctex.gz
*.synctex

# This file will be automatically removed after latexmk. However, incase that
# it was not removed for some reason, I still keep this line of git ignore 
# rule here.
*.synctex(busy)

# The Visual Studio Code workspace folder (I just can't stop Visual Studio from
# from creating it.)
.vscode
.vscode/*
